
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1>Action Completed!</h1>
    </div>
    <div class="panel-body">
      <table class ="table table-bordered">
        <tr>
          <th>Register Number:</th>
          <td><%= @car.regnumber %></td>
        </tr>
        <tr>
          <th>Model:</th>
          <td><%= @car.model %></td>
        </tr>
        <tr>
          <th>Capacity:</th>
          <td><%= @car.capacity %></td>
        </tr>
        <tr>
          <th>Rate:</th>
          <td><%= @car.curr_rate %></td>
        </tr>
        <tr>
          <th>Location:</th>
          <td><%= @car.pickup_address %></td>
        </tr>
        <tr>
          <th>status:</th>
          <td><%= @car.status %></td>
        </tr>
        <tr>
          <th>Added at:</th>
          <td><%= @car.created_at %></td>
        </tr>
        <tr>
          <th>Modified at:</th>
          <td><%= @car.updated_at %></td>
        </tr>
    </table>

    </div>
  </div>
</div>
